body{
    background-color: rgb(234, 222, 222);
}

h1{
    font-family: Verdana;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
    text-decoration-color:rgb(178, 129, 220);
    text-transform: capitalize;
}

h2{
    text-shadow: 1px 1px 2px blue;
}

p{
    color: rgb(30, 108, 210);
    line-height: 30px;    
}

.makanan {
    font-family: Georgia;
    font-size: small;
    color: rgb(110, 51, 188);
    text-decoration-line: underline;
}

.lagu{
    font-family:Arial;
    font-size: 20px;
    color: rgb(187, 230, 187);
    background-color: rgb(45, 87, 87);

}

.kpop{
    color: blueviolet;
}

table{
    font-family: Lucida Sans;
    text-transform: uppercase;
    font-size: 15px;
}

ul{
    text-transform: capitalize;
}


